<!DOCTYPE html>
<html>
    <head>
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'estudiante.label', default: 'Estudiante')}" />
        <title><g:message code="default.create.label" args="[entityName]" /></title>
    </head>
    <body>
        <a href="#create-estudiante" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
        <div class="nav" role="navigation">
            <ul>
                <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
                <li><g:link class="list" action="index"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
            </ul>
        </div>
        <div id="create-estudiante" class="content scaffold-create" role="main">
            <h1><g:message code="default.create.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message" role="status">${flash.message}</div>
            </g:if>
            <g:hasErrors bean="${this.estudiante}">
            <ul class="errors" role="alert">
                <g:eachError bean="${this.estudiante}" var="error">
                <li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>><g:message error="${error}"/></li>
                </g:eachError>
            </ul>
            </g:hasErrors>
            <g:form resource="${this.estudiante}" method="POST">
                <fieldset class="form">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="nombre">Nombre</label>
                            <g:textField id="nombre" name="nombre" value="${estudiante?.nombre}"/>
                        </div>
                        <div class="col-md-4">
                            <label for="apellido">Apellido</label>
                            <g:textField id="apellido" name="apellido" value="${estudiante?.apellido}"/>
                        </div>
                        <div class="col-md-4">
                            <label for="padron">Padron</label>
                            <g:field id="padron"  type="number" name="padron" value="${estudiante?.padron}"/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="username">Usuario</label>
                            <g:textField id="username" name="usuario.username" value="${estudiante?.usuario?.username}"/>
                        </div>
                        <div class="col-md-4">
                            <label for="password">Password</label>
                            <g:field id="password" type="password" name="usuario.password" value="${estudiante?.usuario?.password}"/>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="buttons">
                    <g:submitButton name="create" class="save" value="${message(code: 'default.button.create.label', default: 'Create')}" />
                </fieldset>
            </g:form>
        </div>
    </body>
</html>
